*{
  margin: 0;
  padding: 0;
}
body{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 22px;
  color: #444;
  line-height: 1.5em;
  background-color: #fff;
}


body > header,
body > footer{
  text-align: center;
  color: whitesmoke;
  padding: 1.5em;
  background-color: rgb(71, 58, 58);
}

main > p{
  color:#666;
}

nav ul{
  display: flex;
  gap: 2em;
  padding: 0.75em;
  background-color: rgb(45, 45, 45);
  list-style: none
  
}

nav a{
  color: whitesmoke;
  text-decoration: none;
}


main{
  display: flex;
  justify-content: space-between;
  background-color: whitesmoke;
}

article{
  width: 85%;
  border-right: 1px solid gainsboro;
}

article > header,
article > footer{
  padding: 0.75em;
  background-color: rgb(225 239 237);
}

hgroup p {
  font-size: 15px;
  font-style: italic;
  font-weight: 500;
}


article > section {
  padding: 0.75em 0 0.75em 0.75em;
}

article h3{
  margin-bottom: 0.5em;
}

figure{
  margin: 20px 0;
  width: 100%;
}

img{
  width: 100%;
}

figcaption{
  width: 100%;
  position: relative;
  top: -10px;
  text-align: center;
  color: whitesmoke;
  background-color: black;
}

details{
  color: #444;
  border: 1px solid gray;
}

summary{
  background-color: lightblue;
}

aside{
  width: 15vw;
  padding:1em;
}
